
.wrapper {
    display: grid;
    grid-gap: 2rem;
    height: 100%;
    width: 100%;
    grid-template-columns: auto 20% 60% auto;
    grid-template-areas:
        "header header header header"
        ". sidebar content ."
        "footer footer footer footer";
    grid-template-rows: auto 2fr auto;
   border-bottom: transparent;
    border-radius: 10px;

}

.wrapper .header {
    grid-area: header;
}

.wrapper  .sidebar{
   grid-area: sidebar; 
}
.sidebar .fix{
    display: block;
    padding: 2rem 1.5rem;
    background-color: #fff3e6;
    position: fixed;
    max-width: 20vw;
    border-radius: .5rem;
    overflow-y: auto;
    border: 1.5px solid #fc9929;
    box-shadow:0 0 1rem #fc9929;
}
@media (max-height: 720px) {
    .fix {
        max-height: 80vh;
        overflow-y: scroll;
    }
    }
.sidebar a{
  text-decoration: none;
  color:black;
 }
 .sidebar a:hover{
    color:grey;
   }
 .list-group-item{
    background-color: transparent !important;
}
.wrapper .content{
    grid-area: content;
    background-color: whitesmoke;
    padding: 3rem;
    border-radius: .5rem;
    max-height: 82vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.content-header{
display: flex;
justify-content: space-between;
margin-bottom: 2rem;
}
.content-header h3{
    margin: auto 0;
    max-width: 20rem;
    }
.controls{
   padding: 2rem;
   display: flex;
   align-self: flex-end;
}

/*
 СТИЛИ КНОПОК
*/

.btn:disabled{
    color: #828282;
}
.left-btn{
   background: linear-gradient(90deg, #ff8b00 30%, #ff7115 60%, #fd5d0b 80%)!important;
color:rgb(31, 31, 31);
    border: transparent;
    outline:none;
    padding: .75rem;
    padding-left: 1.5rem;
    margin: 0px;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 0rem;
    border-top-right-radius: 0rem;
    min-width: 8rem;
}

.left-btn:hover, .right-btn:hover{
    transition: 0.3s;
    box-shadow:0 0 .8rem #fc9929;
}

.left-btn-dis{
    background: linear-gradient(90deg, #b1b1b1 10%, #adadad 50%, #a5a5a5 90%);    color: #828282;
    border: transparent;
    padding: .75rem;
    padding-right: 1.5rem;
    margin: 0px;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 0rem;
    border-top-right-radius: 0rem;
    min-width: 8rem;
}

.right-btn{
 background: linear-gradient(90deg, #ff8b00 30%, #ff7115 60%, #fd5d0b 80%)!important;
color:rgb(31, 31, 31);
    border: transparent;
      outline:none;
    padding: .75rem;
    padding-right: 1.5rem;
    margin: 0px;
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    min-width: 9rem;
}

.right-btn-dis{
    background: linear-gradient(90deg, #b1b1b1 10%, #adadad 50%, #a5a5a5 90%);    color: #828282;
    border: transparent;
    padding: .75rem;
    padding-right: 1.5rem;
    margin: 0px;
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    min-width: 9rem;
}
.controls .router-link-active{
   
  background: linear-gradient(90deg, #b1b1b1 10%, #adadad 50%, #a5a5a5 90%)!important;   
     color: #828282!important;
}
.controls .router-link-active:hover{
     transition: 0.3s;
    box-shadow:none!important;
}
button:focus {
    outline: none !important;
}
/* 
СТИЛИ КНОПОК ЕНД
*/

.sidebar .list-group-item.theme{
    padding-left:1%;
    font-weight: bold;
    border-bottom: 1.5px solid #fc9929;
}
.sidebar .list-group-item{
    padding-left:20%;
    padding: .5rem 1.25rem;
    border:none;
    background-color: transparent;
}
.calculator{
    width:100%;
}
.calculator .form-control{
max-width: 5rem;
display: inline;
}
.calculator .list-group-item{
 display: inline-block;
 border:none;
}
.calculator .btn{
   width: 15rem;
   margin:2rem 0;
   background: linear-gradient(90deg, #ff8b00 30%, #ff7115 60%, #fd5d0b 80%);
   border: transparent;
   padding: .75rem;
   padding-left: 1.5rem;
   border-radius: .5rem;
font-size: 1.2rem;
font-weight: bold;

}
.result{
    margin:1rem 0 0 0;
    display: flex;
    background-color: rgb(186, 250, 177);
    border-radius: .5rem;
    max-width: 15rem;
padding:.5rem;  
align-items: center;
justify-content: space-between;
}
.result-error{
    background-color: rgb(250, 177, 177)!important;
}
#result{
    font-weight: bolder;
  margin: auto 1rem;
} 

.calc-wrap{
    background-color: whitesmoke;
    display: flex;
    width: 80%;
}
.calc-wrap img{
    display: inline-block;
   /* max-width: 100%;*/
   height: 100%;
   margin:auto 0 auto 8rem ;
/* margin:0 15rem 0 auto;*/


}

.calc-wrap table td{
    vertical-align: inherit;
    text-align:center;
   min-width: 9rem;
}
.calc-wrap table{
 width: 100%;

}

[colspan="4"]{
     text-align:left !important;
}
  
.instruction .list-group-item{
    padding:0.2rem 0;
}

