    <div class="calc-wrap">
        <form action="" class="calculator">
            <table class="table table-borderless" width=100%>
                <thead>
                    <tr>
                        <th colspan="2">
                            <h3><b>Параметры</b></h3>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h4><b>n =</b></h4>
                        </td>
                        <td><input v-model="param_N" type="text" class="form-control"></td>
                        <td rowspan="2"> <img src="/img/calc/1.png" alt=""></td>
                    </tr>
                    <tr>
                        <td>
                            <h4><b>m =</b></h4>
                        </td>
                        <td><input v-model="param_M" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="result" :class="classObj">
                                Результат:<p id="result">{{result}}</p>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="4"><button class="btn btn-primary" @click="compute">Рассчитать</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>