
<div class="mainpage">
<h2>Что такое теория вероятности?</h2> <br>
<p>
Теория вероятностей – это раздел математики, изучающий закономерности случайных явлений:
случайные события, случайные величины, их свойства и операции над ними.
Долгое время теория вероятностей не имела четкого определения.
<img src="/img/glavnaya/1.jpg" align="right" alt="" class="image"> Оно было сформулировано лишь в 1929 году.
Возникновение теории вероятностей как науки относят к средним векам и первым попыткам
математического анализа азартных игр (орлянка, кости, рулетка). Французские математики XVII века
Блез Паскаль и Пьер Ферма, исследуя прогнозирование выигрыша в
азартных играх, открыли первые вероятностные закономерности, возникающие при бросании костей.

Теория вероятности возникла как наука из убеждения, что в основе массовых случайных
событий лежат определенные закономерности. Теория вероятности изучает данные закономерности.

Теория вероятностей занимается изучением событий, наступление которых достоверно неизвестно.
Она позволяет судить о степени вероятности наступления одних событий по сравнению с другими.

Например: определить однозначно результат выпадения «орла» или «решки» в результате
подбрасывания монеты нельзя, но при многократном подбрасывании выпадает примерно
одинаковое число «орлов» и «решек», что означает, что вероятность того, что
выпадет «орел» или «решка», равна 50%.

Испытанием в этом случае называется реализация определенного комплекса условий, то есть в данном случае подбрасывание
монеты. Испытание может воспроизводиться неограниченное количество раз. При этом комплекс условий включает в себя
случайные факторы.

Результатом испытания является событие. Событие бывает:

Достоверное (всегда происходит в результате испытания).
Невозможное (никогда не происходит).
<img src="/img/glavnaya/2.png" align="left" alt="" class="image">
Случайное (может произойти или не произойти в результате испытания).
Например, при подбрасывании монеты невозможное событие — монета станет на ребро, случайное событие — выпадение «орла»
или «решки». Конкретный результат испытания называется элементарным событием. В результате испытания происходят только
элементарные события. Совокупность всех возможных, различных, конкретных исходов испытаний называется пространством
элементарных событий.
</p>
</div>